<% if @current_admin.present? %>
    <% current_id = @current_admin.id %>
<% else %>
    <% current_id = 0 %>
<% end %>
<div class="box-content">
  <legend><span class="label label-warning" style="font-size: 18px"><%= @topic.topic_type %></span>&nbsp;&nbsp;<%= @topic.topic_title%>
    <% if @topic.topic_tag.present? %>
        <br>
        <% @topic.topic_tag.gsub('-','').split(' ').each do |tag| %>
            <span class="label label-success" style="font-size: 15px;"><%= tag %></span>&nbsp;&nbsp;
        <% end %>
    <% end %>
  </legend>
  <%= raw(@topic.topic_content) %>
  <div style="padding-top: 15px">
    <% if Topic.find_by_id(@topic.id-1).present? %>
        <span style="float: left"><a href="/topics/<%= @topic.id-1 %>" class="btn btn-link">上贴：<%= Topic.find_by_id(@topic.id-1).topic_title%></a></span>
    <% end %>
    <% if Topic.find_by_id(@topic.id+1).present? %>
        <span style="float: right"><a href="/topics/<%= @topic.id+1 %>" class="btn btn-link">下贴：<%= Topic.find_by_id(@topic.id+1).topic_title%></a></span>
    <% end %>
    <hr style="color: #0099cc">
  </div>
  <div id="chat" style="overflow:scroll;overflow-x:hidden;overflow-y:auto;max-height: 800px;padding-right: 20px;padding-left: 20px">
    <ul id="chat-content" class="content-reply-box mg10">
      <% @topic_comment.each do |item| %>
          <% if rand(2) == 1%>
              <li class="chat-right">
          <% else %>
              <li class="chat-left">
          <% end %>
          <a class="user ui-link" title="<%= User.find_by_id(item.user_id).account %>" href="/user?account=<%= User.find_by_id(item.user_id).account %>">
            <img class="img-responsive avatar_" src="<%= User.find_by_id(item.user_id).avatar || Admin::AVATAR[rand(13)] %>" width="44" height="44" alt="">
          </a>
          <div class="reply-content-box">
            <span class="reply-time"><%= item.created_at.strftime('%m-%d %H:%M')%></span>
            <div class="reply-content pr">
              <span class="arrow">&nbsp;</span>
              <%= item.comment %>
            </div>
          </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>