<%= stylesheet_link_tag 'account_login', media:'all'%>
<%= content_for(:title,'忘记密码') %>
<div class="container marketing">
  <div style="padding-top: 150px;height: 550px;">

    <div style="float: left;width: 35%;">
      <div style="padding-left: 80px">
        <div  class= "popup">
          <div class= "pop-box">
            <div style="height: 400px">
              <div class="pop-tit" style="height: 50px">
                <p style="font-size: 35px;color: #FFFFFF;padding-top: 15px;padding-left: 15px">忘记密码</p>
              </div>
              <div style="text-align: center">
              <form accept-charset="utf-8" action="/account/verify_password_code" method="post">
                  <% if flash[:error] %>
                      <div style="padding-top: 20px;width: 251px;padding-left: 60px;padding-bottom: -5px">
                        <div class="alert alert-error">
                          <%= flash[:error] %>
                        </div>
                      </div>
                  <% end %>
                <div class="input-prepend" title="请输入手机号" data-rel="tooltip" style="padding-top: <% if flash[:error] %>20px<% else %>90px<% end %>" data-placement="top">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input id="user_phone" type="text" name="phone"  value="<%= params[:phone] %>" maxlength="11" size="5" onKeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;" class="input-large" placeholder="手机号 ❤ 11位手机号码数字">
                </div>
                <div class="clearfix"></div>

                <div style="padding-right:  90px">
                    <a id="get_code" href="#" class="btn btn-primary" style="width: 130px;">获取手机验证码</a>
                    <div class="clearfix"></div>
                </div>

                <div class="input-prepend" title="手机验证码" data-rel="tooltip" style="padding-top: 10px">
                    <span class="add-on"><i class="icon-qrcode"></i></span>
                    <input type="text" name="code"  class="input-large" maxlength="6" placeholder="验证码 ❤ 6位验证码数字" onKeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;">
                </div>
                <div class="clearfix"></div>

                <div style="padding-top: 10px">
                   <button  type="submit"  class="btn btn-success" style="width: 250px">提交</button>
                </div>
              </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div style="float: right;width: 65%;">
      <img src="/images/constellation/<%= User.constellation_picture Time.now.strftime('%m%d').to_i %>.jpg" style="height: 405px;padding-left: 70px">
    </div>

  </div>

  <script>
    $('#get_code').click(function(){
        if($.trim($('#user_phone').val())=="")
        {
            alert("手机号码不能为空！");
            return false;
        }
        if($.trim($("#user_phone").val())!="")
        {
            var reg = /^0{0,1}(13[0-9]|15[0-9]|153|156|18[0-9])[0-9]{8}$/;
            if(!reg.test($.trim($('#user_phone').val())))
            {
                alert("手机号码格式不对！");
                return false;
            }else{
                $.get('/account/get_phone_code', {phone: $("#user_phone").val()},function(data){
                    if(data.status == 666){
                        alert(data.msg);
                        $('#get_code').attr('disabled','disabled').attr('class','btn btn btn-danger');
                        $('#user_phone').attr('disabled','disabled');
                    }
                    if(data.status == 777){
                        alert(data.msg);
                        $("#user_phone").val('');
                    }
                })
            }
        }
    })
  </script>

</div>