<%= stylesheet_link_tag 'account_login', media:'all'%>
<%= content_for(:title,'重置用户密码') %>
<div class="container marketing">
  <div style="padding-top: 150px;height: 550px;">
    <div style="float: left;width: 35%;">
      <div style="padding-left: 80px">
        <div  class= "popup">
          <div class= "pop-box">
            <div style="height: 400px">
              <div class="pop-tit" style="height: 50px">
                <p style="font-size: 35px;color: #FFFFFF;padding-top: 15px;padding-left: 15px">重置密码</p>
              </div>
              <div style="text-align: center">
                <form accept-charset="utf-8" action="/account/password_reset" method="post">
                  <% if flash[:error] %>
                      <div style="padding-top: 20px;width: 251px;padding-left: 60px;padding-bottom: -5px">
                        <div class="alert alert-error">
                          <%= flash[:error] %>
                        </div>
                      </div>
                  <% end %>
                  <input type="text" name="user_id"  value="<%= params[:user] %>" style="display: none">
                  <div class="input-prepend" title="请输入新密码" data-rel="tooltip" style="padding-top: <% if flash[:error] %>20px<% else %>90px<% end %>" data-placement="top">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input id="password" type="password" name="password"  value="" maxlength="20" size="5" class="input-large" placeholder="新密码 ❤ 6~20个字符">
                  </div>
                  <div class="clearfix"></div>

                  <div class="input-prepend" title="请输入确认新密码" data-rel="tooltip" style="padding-top: 10px">
                    <span class="add-on"><i class="icon-warning-sign"></i></span>
                    <input id="confirm" type="password" name="confirm"  class="input-large" maxlength="20" placeholder="确认密码 ❤ 只为了让你心安" disabled>
                  </div>
                  <div class="clearfix"></div>

                  <div style="padding-top: 10px">
                    <button  id="submit" type="submit"  class="btn btn-success" style="width: 250px" disabled>修改密码</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div style="float: right;width: 65%;">
      <img src="/images/constellation/<%= User.constellation_picture Time.now.strftime('%m%d').to_i %>.jpg" style="height: 405px;padding-left: 70px">
    </div>

  </div>
  <script>
      $('#password').change(function(){
          if($('#password').val().length < 6){
              alert('密码长度请大于5个字符');
              $('#password').val('');
              return false;
          }
          var reg = /^[\w!@#$%\^&\*\(\)_]{6,20}$/;
          if(!reg.test($.trim($('#password').val())))
          {
              alert("密码不能包含空格,汉字,回车等特殊符号");
              $('#password').val('');
              return false;
          }else{
              $('#confirm').removeAttr('disabled');
          }
      })

    $('#confirm').change(function(){
        if($('#confirm').val() != $('#password').val()){
            alert('两次密码不一致,请重新输入');
            $('#confirm').val('');
            return false;
        }
        else{
            $('#password').attr('readonly','readonly');
            $('#confirm').attr('readonly','readonly');
            $('#submit').removeAttr('disabled');
        }
    })
  </script>

</div>