<div class="box-header well" data-original-title><!-- 动态标题栏 -->
  <h2><i class="icon-text-height"></i>开心就要每时每刻</h2>
  <div class="box-icon">
    <a title="新轻松一刻" href="/relax_moments/new" class="btn btn-round"><i class="icon-plus"></i></a>
  </div>
</div>

<div class="row-fluid sortable"><div></div><!-- 动态表单 -->

  <% @relax_moments.each do |item| %>
      <div class="box" style="background-color: #ffffff">
        <div class="box-header well" data-original-title>
          <h2><span class="label label-warning" style="font-family: Comic Sans MS;font-size: 14px"><%= item.relax_time %></span></h2>
          <div class="box-icon">
            <a href="/relax_moments/<%= item.id %>/edit" class="btn btn-round"><i class="icon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
			<a href="/relax_moments/delete/<%= item.id %>" class="btn btn-round" onClick="if(confirm('确定要删除该轻松一刻吗？'))return true;return false;"><i class="icon-remove"></i></a>
          </div>
        </div>
        <div class="box-content">
          <h2>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to truncate(item.relax_title,:length=>12),item %></h2>
          <legend><div class="center">
                <audio  controls="controls" src="<%= item.relax_audio %>"></audio>
          </div></legend>
          <p style="height: 200px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= truncate(strip_tags(raw(item.relax_content)),:length=>300) %>
          </p>
        </div>
      </div>
  <% end %>

</div>
<div><%= will_paginate @relax_moments , :class => 'apple_pagination', :previous_label => '上一页', :next_label => '下一页' %></div>