    <%= content_for(:title,'我的糗事') %>
    <%= render partial: 'share/flash_tip' %>

    <div class="row-fluid sortable"><div></div><!-- 动态表单 -->
          <% @embarrasses.each do |item| %>
              <div class="box" style="background-color: #fdfdfd;padding-bottom: 10px">
                <div>
                  <div style="float: left">
                    <a href="/qiushibaike/<%= item.id.to_s.encode %>#comment" class="btn btn-large btn-info"><i class="icon-comment"></i><span style="margin: 0px 15px"><%= EmbarrassComment.where(:embarrass_id=>item.id).count %></span></a>
                  </div>
                  <div style="float: right">
                    <a id="applaud_btn_<%= item.id %>" title="赞一个" href="#" class="btn btn-large btn-danger"><i class="icon-thumbs-up"></i><span id="chan_<%= item.id %>" style="padding-left: 13px"><%= item.chan_count %></span></a>
                  </div>
                </div>
                <legend>
                  <div style="margin: 15px 50px;"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= item.process %></h3></div>
                </legend>
                <div class="center">
                  <img src="<%= item.picture %>">
                </div>
              </div>
          <% end %>
    </div>

    <div>
      <%= will_paginate @embarrasses , :class => 'apple_pagination', :previous_label => '上一页', :next_label => '下一页' %>
    </div>
<script>
    function point_applaud(embarrass_id){
        $.get('/embarrasses/applaud',{id: embarrass_id},function(data){
            if(data.status == 200){
                $('#applaud_btn_'+embarrass_id).attr('href','#');
                $('#applaud_btn_'+embarrass_id).attr('class','btn btn-large btn-warning');
                var chan = Number($('#chan_'+embarrass_id).text());
                $('#chan_'+embarrass_id).text(chan + 1);
            }
        })
    }
</script>