<%= content_for(:title, @topic.topic_title) %>
<%= render partial: 'share/active_robot' %>
<div class="container marketing" style="padding-top: 100px">
  <div class="box span11">
    <div class="box-content">
        <legend>
          <span  style="font-size: 25px;background-color: #000000;font-weight: bolder;color: white">&nbsp;&nbsp;<%= @topic.topic_title%></span><br>
          <span class="label label-important" style="font-size: 20px"><i class="icon-heart"></i> <%= User.find_by_id(@topic.user_id).account %></span>
          <span class="label label-warning" style="font-size: 20px"><i class="icon-flag"></i> <%= @topic.topic_type %></span>
          <% if @topic.topic_tag.present? %>
              <br>
              <% @topic.topic_tag.gsub('-','').split(' ').each do |tag| %>
                  <span class="label label-success" style="font-size: 18px"><i class="icon-tags"></i> <%= tag %></span>&nbsp;&nbsp;
              <% end %>
          <% end %>
        </legend>
        <%= raw(@topic.topic_content) %>
    </div>
    <div style="padding-top: 15px">
      <% if Topic.find_by_id(@topic.id-1).present? %>
          <span style="float: left"><a href="/rubyonrails/<%= @topic.id-1 %>" class="btn">上贴：<%= Topic.find_by_id(@topic.id-1).topic_title%></a></span>
      <% end %>
      <% if Topic.find_by_id(@topic.id+1).present? %>
          <span style="float: right"><a href="/rubyonrails/<%= @topic.id+1 %>" class="btn">下贴：<%= Topic.find_by_id(@topic.id+1).topic_title%></a></span>
      <% end %>
      <hr style="color: #0099cc">
    </div>

    <div style="background-color: #e8e8e8;max-height: 200px;padding-left: 100px">
      <div style="padding-top: 20px;padding-left: 120px;padding-bottom: 10px">
        <textarea id="discuss" placeholder="请在这里键入您的评论" style="height: 70px;width: 452px;max-width: 452px;max-height: 150px"></textarea>
        <span style="padding-left: 50px;margin-top: 50px"><button  class="btn btn-large btn-primary" id="submit">发表评论</button></span>
      </div>
    </div>

    <a id="comment"></a>
    <div id="chat" style="overflow:scroll;overflow-x:hidden;overflow-y:auto;max-height: 800px;padding-right: 20px;padding-left: 20px">
      <ul id="chat-content" class="content-reply-box mg10">
        <% @topic_comment.each do |item| %>
            <% if @current_user.present? && item.user_id == @current_user.id%>
                <li class="chat-right">
            <% else %>
                <li class="chat-left">
            <% end %>
            <a class="user ui-link" title="<%= User.find_by_id(item.user_id).account %>" href="/user?account=<%= User.find_by_id(item.user_id).account %>">
              <img class="img-responsive avatar_" src="<%= User.find_by_id(item.user_id).avatar || Admin::AVATAR[rand(13)] %>" width="44" height="44" alt="">
            </a>
            <div class="reply-content-box">
              <span class="reply-time"><%= item.created_at.strftime('%m-%d %H:%M')%></span>
              <div class="reply-content pr">
                <span class="arrow">&nbsp;</span>
                <%= item.comment %>
              </div>
            </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if @current_user.present? %>
    <% current_id = @current_user.id %>
<% else %>
    <% current_id = 0 %>
<% end %>

<script>

    $('#submit').click(function(){
        params = {};
        params['topic_comment'] = {};
        params['topic_comment']['topic_id'] = <%= @topic.id %>;
        params['topic_comment']['user_id'] = <%= current_id  %>;
        params['topic_comment']['comment'] = $('#discuss').val();
        if(params['topic_comment']['user_id']==0) {
            alert('您没有登录,无法评论');
            $('#discuss').val('');
            return false;
        }
        if(params['topic_comment']['comment'].trim()==''){
            alert('请至少说点什么吧！');
            return false;
        }else{
            $.post('/topic_comments', params,function(data){
                if(data.status == 200){
                    var new_comment = '';
                    new_comment +='<li class="chat-right">';
                    new_comment +='<a class="user ui-link">';
                    new_comment +='<img width="44" height="44" alt="" class="img-responsive avatar_" src='+ '<% if @current_user.present? %><%= @current_user.avatar || Admin::AVATAR[rand(13)] %><% end %>' + '>';
                    new_comment +='<span class="user-name">'+'<% if @current_user.present? %><%= @current_user.account %><% end%>'+'</span></a>';
                    new_comment +='<div class="reply-content-box">';
                    new_comment +='<span class="reply-time">' + '<%= Time.now.strftime('%m-%d %H:%M') %>' + '</span>';
                    new_comment +='<div class="reply-content pr">';
                    new_comment +='<span class="arrow">&nbsp;</span>';
                    new_comment += $('#discuss').val();
                    new_comment +='</div></div></li>';
                    $("#chat-content").append(new_comment);
                    $('#discuss').val('');//清空用户评论
                    window.location.href = '/rubyonrails/' + <%= @topic.id %> +'#comment';
                }else{
                    alert('一般刷帖的人被称为水军');
                    return false;
                }
            });
        }
    });
</script>